@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    font-family: Outfit;
}

.active hr {
    @apply block
}

@media (max-width:740px) {
    .active  p{
       @apply text-white bg-primary
    }
}

::-webkit-scrollbar {
    @apply hidden
}

.custom-bg {
    background: rgb(58,90,64);
    background: linear-gradient(90deg, rgba(58,90,64,1) 8%, rgba(58,90,64,1) 16%, rgba(84,112,89,1) 31%, rgba(106,131,111,1) 43%, rgba(130,151,134,1) 55%, rgba(155,172,158,1) 64%, rgba(255,255,255,1) 100%); 
    /* background: #3a5a40; */
    /* background: #5F6FFF;
    background: -webkit-linear-gradient(92deg, #5F6FFF 0%, #81b2d1 50%, #ece8e8 100%);
    background: linear-gradient(92deg, #5F6FFF 0%, #81b2d1 50%, #ece8e8 100%); */
    /* background: rgb(254,215,65);
    background: linear-gradient(90deg, rgba(254,215,65,1) 0%, rgba(198,233,179,1) 16%, rgba(255,255,255,1) 100%);  */
}